<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recyclewithdetails">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Pakar Makanan"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Gianyar"></activity>
        <activity android:name=".Karangasem" />
        <activity android:name=".Bangli" />
        <activity android:name=".Jembrana" />
        <activity android:name=".Singaraja" />
        <activity android:name=".Tabanan" />
        <activity android:name=".Badung" />
        <activity android:name=".Denpasar" />
        <activity
            android:name=".SateDetail"
            android:label="@string/title_activity_sate_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HighestRating"
            android:label="@string/title_activity_highest_rating"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".KategoriSatu"
            android:label="@string/title_activity_kategori_satu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Navigation"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Discover" />
        <activity android:name=".LocationActivity" />
        <activity android:name=".ListView" />
        <activity android:name=".MainActivity" />
        <activity android:name=".GalleryActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>